.app_container {
  width: 100%;
  .app_content {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    h1 {
      text-align: center;
      font-size: 2.5rem;
    }
  }
  .add_header {
    display: flex;
    margin: 0 auto;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    .button_add {
      .button_add_new {
        border: none;
        background-image: linear-gradient(
          67.2deg,
          rgba(37, 208, 199, 1) -7.5%,
          rgba(165, 90, 240, 1) 62.7%
        );
        color: #ffffff;
        padding: 10px 15px;
        border-radius: 10px;
        font-size: 1.5rem;
        cursor: pointer;
        &:active {
          box-shadow: 0px 0px 3px #1e1d1d;
        }
      }
    }
  }
  .app_list {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    .list_todo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 5px;
      border-bottom: 1px solid #cccccc;
      margin-top: 10px;
      .function_icons {
        width: 8%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icons_all {
          font-size: 2rem;
          cursor: pointer;
        }
      }
      .list_job {
        font-size: 1.6rem;
      }
    }
    .panigation {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 15px;
      .active {
        background-image: radial-gradient(
          circle 972.6px at 10% 20%,
          rgba(243, 0, 75, 1) 0%,
          rgba(255, 93, 75, 1) 90%
        );
        box-shadow: 0px 0px 5px #1e1d1d;
      }
      button {
        background-image: linear-gradient(
          67.2deg,
          rgba(37, 208, 199, 1) -7.5%,
          rgba(165, 90, 240, 1) 62.7%
        );
        outline: none;
        border: none;
        margin-left: 10px;
        padding: 5px 15px;
        cursor: pointer;
        border-radius: 5px;
        color: #ffffff;
        &:active {
          box-shadow: 0px 0px 3px #1e1d1d;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .app_container {
    .app_content {
    }
    .add_header {
      .button_add {
        .button_add_new {
          font-size: 1.5rem;
        }
      }
    }
    .app_list {
      .list_todo {
        .list_job {
        }
        .function_icons {
          width: 30%;
          .icons_all {
          }
        }
      }
    }
    .panigation {
      padding-bottom: 15px;
    }
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .app_container {
    .app_content {
    }
    .add_header {
      .button_add {
        .button_add_new {
          font-size: 1.5rem;
        }
      }
    }
    .app_list {
      .list_todo {
        .list_job {
          font-size: 2.5rem;
        }
        .function_icons {
          width: 15%;
          .icons_all {
            font-size: 3rem;
          }
        }
      }
    }
    .panigation {
      padding-bottom: 15px;
    }
  }
}
